@model IEnumerable<InVents.Models.Produtor>

@{
    ViewData["Title"] = "Produtores da Empresa";
}

<h1>Produtores da Empresa</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>Ações</th> <!-- Adicionado o cabeçalho de Ações -->
        </tr>
    </thead>
    <tbody>
        @foreach (var produtor in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => produtor.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => produtor.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => produtor.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => produtor.Telefone)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Produtor" asp-route-id="@produtor.Id">Gerenciar produtor</a>
                    |
                    <a asp-action="AddFornecedor" asp-controller="Produtor" asp-route-id="@produtor.Id">Adicionar Fornecedor</a>
                    |
                    <a asp-action="FornecedoresContratados" asp-controller="Produtor" asp-route-id="@produtor.Id">Ver Fornecedores Contratados</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<section>
    <a asp-action="Create" asp-controller="Produtor">Criar produtor</a>
</section>